
# before changing anything, duplicate this file as config.env
# only modify the duplicate, and don't delete the example.

applicationId="1234" # make this the bot's application ID (like its user ID)

token="abc.def.ghi" # make this the bot's token

modRoleId="right click on the role > copy id" # make this the role ID of the moderator role

modChannelId="right click on the channel > copy id" # make this the channel ID of the moderator channel

adminChannelId='right click on the channel > copy id' # make this the channel ID of the admin channel

logChannelId='right click on the channel > copy id' # make this the channel ID of the logging channel

contactChannelId='right click on the channel > copy id' # make this the channel ID of the channel /contactmods will work in

starboardChannelId='right click on the channel > copy id' # make this the channel ID of the channel that the starboard will work in

evilboardChannelId='right click on the channel > copy id' # make this the channel ID of the channel that the evilboard will work in (can be same as starboard)

majorOffensesSignalingService='https://discord.com/api/webhooks/...' # make this the webhook URL of the webhook for important events

dataPath='' # path to save databases in; leave blank to keep them in the same folder as the source code